---
import Greenting from '@/components/Greenting.svelte';
import Layout from '../layouts/Layout.astro';
import PlaylistItemCard from "@/components/PlaylistItemCard.astro";
import { playlists } from '@/lib/data';
---

<Layout title="Spotify Clone">
	<div id="playlist-container" class="relative transition duration-1000 bg-green-600">
        <!-- Page Header -->
        <div class="relative z-10 px-6 pt-10">
            <Greenting />
            

            <div class="flex flex-wrap mt-6 gap-4">
                {
                    playlists.map(playlist => <PlaylistItemCard playlist={playlist} />)
                }
            </div>
        </div>

        <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/30">

        </div>
    </div>
</Layout>

<style>
</style>
